<style media="screen">
  .searchbar{ width: auto; height: 50; background: #ed5a64; margin-bottom: 50px;}
  .footer{ width: auto; height: 150px; background: #ed5a64; float: bottom; margin-top: 1000px; }
  .movie { margin-right: 30px; margin-bottom: 20px; width: 200px; height:400; float: left; background:#16a085 ;   -webkit-box-shadow: inset 0 3px 3px #999;
    -moz-box-shadow: inset 0 3px 3px #999;
    box-shadow: 0px 0px 11px #999;
    overflow: hidden;}
  .movie img {height: 225px; margin-bottom:25px; border: 0; float: center;}
  .logreg { float: right; margin-left: }
  a{color: red; font-size: 20; font-style: arial ; font-style: bold;}
  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
   }
    input[type=text]:focus {
    width: 100%;

}
p {color: white;}
</style>
<div class="searchbar">

<form class="moviesearchfrom" action="/movie/search" method="get">
  moviename<br>
   <input type="text" name="moviename" placeholder="Search Movie Here..">

</form>
<body background="./public/img/bg.jpg">

<div class="logreg">
  <a href="/movie/register" >Register</a> <a href="/movie/login">Login</a>
</div>


</div>
{{#each movieList}}
  <div class="movie">
    <a href="http://putlockers.ch/search/search.php?q={{Title}}" target="_blank">{{Title}}</a>
    <img src="{{Poster}}">
    <br>Type:{{Type}}</br>
    <br class="movieinfo">Year:{{Year}}</br>
    <br>IMDb:{{imdbID}}<br>
  </div>
{{/each}}
<script type="text/javascript">
var Title = [{{Title}}];
module.exports= Title;
</script>
<footer>
  <div class="footer">
    <p>

<b>Disclaimer:</b> iTheater is absolutely legal and contain only links to other sites on the Internet, If you have any legal issues please contact the appropriate media file owners or host sites.
</p>


  </div>
</footer>
</body>
