<style media="screen">
  body {background: white;}
  .movie { margin-right: 50px; width: 300px; float: left; background: grey;}
  .movie img {height: 150px;}
</style>

<form class="moviesearchfrom" action="/movie/search" method="get">
  moviename<br>
  <input type="text" name="moviename"></br>

</form>

{{#each movieList}}
  <div class="movie">
    <b>{{Title}}</b>
    <img class="movie-poster" src="{{Poster}}" alt="">
    <br>Type:{{Type}}</br>
    <br class="movieinfo">Year:{{Year}}</br>
    <br>IMDb:{{imdbID}}<br>
  </div>
{{/each}}
